pre {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

pre>nav.navbar {
    padding: .5em 1em;
    background-color: #282a2c;
    color: #fff;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}

pre .bi {
    color: #fff;
}

pre>code.hljs {
    font-family: "Cascadia Code", "Fira Code", monospace;
    width: fit-content;
    padding: 20px 2.5em !important;
    border-radius: 0 0 10px 10px;
}

pre>.navbar .btn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: ease .5s;
}


pre>.navbar .btn:hover {
    background-color: #616263;
}